*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% if firewall_config.network_adapter_access is defined %}
{% for adapter in firewall_config.network_adapter_access %}
-A INPUT -i {{ adapter }} -j ACCEPT
{% endfor %}
{% endif %}
-A INPUT -p tcp -m tcp --dport {{ sshd_config.Port | default('22') }} -j ACCEPT
{% if firewall_config.trusted_range is defined %}
{% for cidr in firewall_config.trusted_range %}
-A INPUT -s {{ cidr }} -j ACCEPT
{% endfor %}
{% if firewall_config.tcp_port_access is defined %}
{% for port in firewall_config.tcp_port_access %}
-A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
{% endif %}
{% if firewall_config.udp_port_access is defined %}
{% for port in firewall_config.udp_port_access %}
-A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}
{% endif %}
COMMIT
