#!/bin/bash

{% if qdisc == 'fq_codel' %}
tc qdisc replace dev {{ ansible_default_ipv4.interface }} root {{ _fq_codel }}
{% else %}
tc qdisc replace dev {{ ansible_default_ipv4.interface }} root noqueue
{% endif %}

ip link set {{ ansible_default_ipv4.interface }} txqueuelen {{ _txqueuelen }}

ethtool -K {{ ansible_default_ipv4.interface }} tso {{ tso }}
ethtool -K {{ ansible_default_ipv4.interface }} gso {{ gso }}
ethtool -K {{ ansible_default_ipv4.interface }} gro {{ gro }}
ethtool -K {{ ansible_default_ipv4.interface }} lro {{ lro }}
ethtool -C {{ ansible_default_ipv4.interface }} rx-usecs {{ rx_usecs }}
ethtool -C {{ ansible_default_ipv4.interface }} tx-usecs {{ tx_usecs }}
ethtool -C {{ ansible_default_ipv4.interface }} rx-frames {{ rx_frames }}
ethtool -C {{ ansible_default_ipv4.interface }} tx-frames {{ tx_frames }}
ethtool -C {{ ansible_default_ipv4.interface }} adaptive-rx {{ adaptive_rx }}
ethtool -C {{ ansible_default_ipv4.interface }} adaptive-tx {{ adaptive_tx }}
ethtool -A {{ ansible_default_ipv4.interface }} autoneg {{ autoneg }}
ethtool -A {{ ansible_default_ipv4.interface }} rx {{ rx }}
ethtool -A {{ ansible_default_ipv4.interface }} tx {{ tx }}

{% if tos %}
tc filter del dev {{ ansible_default_ipv4.interface }}
tc qdisc del dev {{ ansible_default_ipv4.interface }} clsact
tc qdisc add dev {{ ansible_default_ipv4.interface }} clsact
{% if firewall_config.tcp_port_access is defined %}
{% for port in firewall_config.tcp_port_access %}
tc filter add dev {{ ansible_default_ipv4.interface }} egress protocol ip prio 1 u32 match ip sport {{ port }} 0xffff action pedit munge ip tos set {{ tcp_tos }} pipe action csum iph
{% endfor %}
{% endif %}
{% if firewall_config.udp_port_access is defined %}
{% for port in firewall_config.udp_port_access %}
tc filter add dev {{ ansible_default_ipv4.interface }} egress protocol ip prio 1 u32 match ip sport {{ port }} 0xffff action pedit munge ip tos set {{ udp_tos }} pipe action csum iph
{% endfor %}
{% endif %}
{% endif %}

echo {{ napi_defer_hard_irqs }} > /sys/class/net/{{ ansible_default_ipv4.interface }}/napi_defer_hard_irqs
echo {{ gro_flush_timeout }} > /sys/class/net/{{ ansible_default_ipv4.interface }}/gro_flush_timeout
echo {{ threaded_napi }} > /sys/class/net/{{ ansible_default_ipv4.interface }}/threaded

for pid in $(ps -e | grep ksoftirqd | awk '{print $1}'); do chrt -r -p 97 $pid; done
for pid in $(ps -e | grep napi | awk '{print $1}'); do chrt -r -p 98 $pid; done

{% if ansible_processor_vcpus|int > 2 %}
echo "fe" > /sys/class/net/{{ ansible_default_ipv4.interface }}/queues/rx-*/rps_cpus
VCPU_COUNT=$(nproc)
QUEUE_COUNT=$(ls /sys/class/net/{{ ansible_default_ipv4.interface }}/queues/ | grep -c rx-)
FLOW_ENTRIES=$(( $VCPU_COUNT * 1024 ))
FLOW_PER_QUEUE=$(( $FLOW_ENTRIES / $QUEUE_COUNT ))
sysctl -w net.core.rps_sock_flow_entries="$FLOW_ENTRIES"
echo "$FLOW_PER_QUEUE" > /sys/class/net/{{ ansible_default_ipv4.interface }}/queues/rx-*/rps_flow_cnt
{% endif %}
