#!/bin/bash

{% if qdisc == 'fq_codel' %}
tc qdisc replace dev {{ ansible_default_ipv4.interface }} root {{ _fq_codel }}
{% else %}
tc qdisc replace dev {{ ansible_default_ipv4.interface }} root noqueue
{% endif %}

ip link set {{ ansible_default_ipv4.interface }} txqueuelen {{ _txqueuelen }}

{% if tos %}
tc filter del dev {{ ansible_default_ipv4.interface }}
tc qdisc del dev {{ ansible_default_ipv4.interface }} clsact
tc qdisc add dev {{ ansible_default_ipv4.interface }} clsact
{% if firewall_config.tcp_port_access is defined %}
{% for port in firewall_config.tcp_port_access %}
tc filter add dev {{ ansible_default_ipv4.interface }} egress protocol ip prio 1 u32 match ip sport {{ port }} 0xffff action pedit munge ip tos set {{ tcp_tos }} pipe action csum iph
{% endfor %}
{% endif %}
{% if firewall_config.udp_port_access is defined %}
{% for port in firewall_config.udp_port_access %}
tc filter add dev {{ ansible_default_ipv4.interface }} egress protocol ip prio 1 u32 match ip sport {{ port }} 0xffff action pedit munge ip tos set {{ udp_tos }} pipe action csum iph
{% endfor %}
{% endif %}
{% endif %}
