Include /etc/ssh/sshd_config.d/*.conf

Port {{ sshd_config.Port | default('22') }}
#AddressFamily any
ListenAddress {{ sshd_config.ListenAddress | default('0.0.0.0') }}
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

#RekeyLimit default none
#SyslogFacility AUTH
LogLevel VERBOSE

#LoginGraceTime 2m
PermitRootLogin {{ sshd_config.PermitRootLogin | default('without-password') }}
#StrictModes yes
MaxAuthTries 3
MaxSessions 2

#PubkeyAuthentication yes
#AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2
#AuthorizedPrincipalsFile none
#HostbasedAuthentication no
#IgnoreUserKnownHosts no
#IgnoreRhosts yes

PasswordAuthentication {{ sshd_config.PasswordAuthentication | default('yes') }}
#PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Kerberos options
KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

UsePAM yes

AllowAgentForwarding no
AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding no
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd no
PrintLastLog no
TCPKeepAlive no
#PermitUserEnvironment no
Compression no
#ClientAliveInterval 0
ClientAliveCountMax 2
UseDNS no
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

#Banner none

AcceptEnv LANG LC_*

Subsystem sftp	/usr/lib/openssh/sftp-server

#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server

{% if sshd_config.AllowUsers is defined %}
AllowUsers {{ sshd_config.AllowUsers }}
{% endif %}
{% if sshd_config.AllowGroups is defined %}
AllowGroups {{ sshd_config.AllowGroups }}
{% endif %}
